{% extends "layout.html" %}
{% block body %}

<div class="content">
  <h1>Services</h1>
  <br>

<div class="tables">

  <form action="{{url_for('applyFilter')}}" method='POST'>
 <table>
   <tr>
     <td><input type="text" name="filter"  placeholder="Ex:vplsID = 'VLAN100'"></td>
     <td><input type="submit" value="Apply Filter"></td>
   </tr>
 </table>
 </form>


<table style="display: table;" id="list">
  <tr>
    <th>id</th>
    <th>originNode</th>
    <th>destinationNode</th>
    <th>pwID</th>
    <th>localInterface</th>
    <th>remoteInterface</th>
    <th>vlanID</th>
    <th>vplsID</th>
    <th>customerName</th>
  </tr>
  {% for entry in entries %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.originNode }}</td>
    <td>{{ entry.destinationNode }}</td>
    <td>{{ entry.pwID }}</td>
    <td>{{ entry.localInterface }}</td>
    <td>{{ entry.remoteInterface }}</td>
    <td>{{ entry.vlanID }}</td>
    <td>{{ entry.vplsID }}</td>
      <td>{{ entry.customerName }}</td>
  </tr>
  {% endfor %}

</table>
</div>
</div>

{% endblock %}
